<div class="main-bord">

  <div class="contents drawing">

    <h1 class="content-title">図面登録</h1>

     <%= render partial: "form", locals: { price_scales: @price_scales, quotation: @quotation, drawing: @drawing } %>

    <div id="list"></div>
      <% unless @drawings.blank? %>
        <% @drawings.each do |drawing| %>

        <%= render "list", drawing: drawing %>

      <% end %>
    <% end%>

    <div class="btnbox">
      <%= link_to "図面の登録を終了", edit_quotation_path(@quotation.id), class: 'btn btn--orange' %>
    </div>

  </div>

</div>