<% quotations.each do |quotation| %>
  <p>見積No:<%= quotation.id %></p>
  <p>顧客名:<%= quotation.client.name %></p>
  <p>タイトル:<%= quotation.title %></p>
  <p>金額:<%= quotation.total_price %></p>
<% end %>