<h1>見積書一覧</h1>

<%# タブ部分 %>
<ul class="tab-list list-unstyled">
  <li class="tab tab-active">
    あ
  </li>
  <li class="tab">
    か
  </li>
  <li class="tab">
    さ
  </li>
  <li class="tab">
    た
  </li>
  <li class="tab">
    な
  </li>
  <li class="tab">
    は
  </li>
  <li class="tab">
    ま
  </li>
  <li class="tab">
    や
  </li>
  <li class="tab">
    ら
  </li>
  <li class="tab">
    わ
  </li>
</ul>

<%# タブで選択された部分 %>
<div class="tabbox-contents">

  <% 10.times do |i| %>

    <div class="tabbox box-show">

      <% @type_clients[i].each do |client| %>
        <p><%= link_to client.name, index_quotations_client_path(client.id) %></p>
      <% end %>

    </div>

  <% end %>

</div>