<h1>printing index page</h1>

<% @quotations.each do |quotation| %>
  見積No:<%= quotation.id %>
  :<%= quotation.client.name %>
  :<%= quotation.title %>
  ::<%= link_to '印刷', edit_printing_path(quotation.id) %><br>
<% end %>