/*
 *= require_tree .
 *= require_self
 */

 html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  margin: 10px 0;
}


.main-bord {
  background-color: royalblue;
  width: 1100px;
  margin: 10px auto;
  border-radius: 0.5rem;
  height: 100%;
}

.content-title {
  color: white;
}

.contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


/* header用CSS */

.header-contents {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0;
  padding: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  border-radius: 0 0 35px 35px;
  position: relative;
  top: -10px;
  left: 0;
}

.header-contents a{
  text-decoration: none;
  color: black;
}

.header-title{
  font-size: 20px;
}

.header-menu ul {
  display: flex;
  margin: 0;
}

.header-menu li {
  padding: 0 .6rem;
  margin: 0;
}

.announce {
  height: 40px;
  width: 1100px;
  margin: 0 auto;
}

.alert {
  height: 40px;
  width: 1100px;
  background-color: rgb(252, 153, 153);
  border: solid 1px red;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

p.alert-word {
  padding: 0 10px;
}

.notice {
  height: 40px;
  width: 1100px;
  background-color: rgb(194, 248, 210);
  border: solid 1px rgb(7, 245, 7);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

p.notice-word {
  padding: 0 10px;
}


/* ボタン関連CSS */

.btn,
a.btn,
button.btn {
  line-height: 1.5;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #fb7211;
}

a.btn--radius {
   border-radius: 100vh;
}

.table-btn {
  display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 0.9rem;
	text-decoration: none;
	transition: 0.3s;
  background-color: #f5b282;
	border: 1px solid #f5b282;
  color: black;
	border-radius: 35px;
  margin: auto 5px;
}

.table-btn:hover {
  color: white;
	background-color: #f56500;
	border: 1px solid #333;
}

.btn--delete {
  padding: 0.5em;
  margin: 10px 0;
  display: block;
  color: #fff !important;
  background: red;
  text-decoration: none;
  font-weight: bold;
  font-size: large ;
  border-radius: 3px;
  text-align: center;
  text-decoration: none !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
              0px 2px 2px 0px rgb(0 0 0 / 14%),
              0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.btn--delete:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 5px 0 0;
  background: url("garbage") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.btn--delete:hover {
  background: rgb(245, 151, 151);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
              0px 4px 2px 0px rgb(0 0 0 / 14%),
              0px 3px 5px 0px rgb(0 0 0 / 12%);
}

#modal-delete {
  width: 100px;
}

.btn--cancel {
  width: 100px;
  padding: 0.5em;
  margin: 10px 0;
  display: block;
  color: rgb(19, 142, 236) !important;
  background: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large ;
  border-radius: 3px;
  text-align: center;
  text-decoration: none !important;
  border: solid 1px blue;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
              0px 2px 2px 0px rgb(0 0 0 / 14%),
              0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.btn--cancel:hover {
  background-color: rgb(207, 207, 249);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
              0px 4px 2px 0px rgb(0 0 0 / 14%),
              0px 3px 5px 0px rgb(0 0 0 / 12%);
}

.btn--form {
  min-width: 80px;
  padding: 0.5em;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #6fd259;
  border: solid 1px #6fd259;
  color: #ffffff;
  transition: .3s;
  margin: 10px auto;
}

.btn--form:hover {
  background-color: #c3f7b8;
}

/* 以下見積もり書一覧タブ機能実装用CSS */

ul.tab-list {
  padding-left: 0px;
  display: flex;
  align-items: center;
  width: 900px;
  margin: 20px auto;
}

.tab {
  width: 10%;
  padding: 10px 30px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  background-color: rgb(248, 183, 62);
  font-size: 20px;
  text-align: center;
}
li.tab {
  display: inline;
}
.tab:first-child {
  border-left: none;
}

.tabbox-contents {
  background-color: white;
  overflow: scroll;
  border-radius: 5px;
  
}
/* タブがactiveのときのデザイン */
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
/* タブの中身、最初は非表示 */
.tabbox {
  display: none;
  padding: 5px;
}
/* box-showクラスのものだけ表示 */
.box-show {
  display: block;
}
 /* hover時のアクション */
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}


/* 顧客別見積一覧用CSS */

.index-quotations-list {
  background-color: white;
  height: 500px;
  border-radius: 5px;
}

.index-quotations-list table {
  width: 600px;
}

.index-quotations-list .date {
  width: 1px;
}

.index-quotations-list .price {
  width: 150px;
  text-align: right;
}

.btn, .back {
  margin: 5px;
}

/* formCSS */

.quotation-form {
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
}

.quotation-form input:not(.btn),
.quotation-form select {
  width: 300px;
  padding: 5px;
  margin: 5px;
  border: solid 1px #CCC;
  border-radius: 2px;
}

.quotation-form label {
  display: inline-block;
  text-align: right;
  width: 150px;
  color: white;
}

.quotation-form .submit-btn {
  text-align: center;
}

.input-center {
 text-align: center;
}

.linkbtn {
  display: block;
}

/* スペース専用CSS */

.mar-10 {
  margin-right: 10px;
}

.mar-30 {
  margin-right: 30px;
}


/* フォームエラー用CSS */
.field_with_errors {
  display: contents;
}

.error-message {
  text-align: center;
}


span.required {
  color: red;
  font-size: 0.7rem;
  vertical-align: top;
}

/* モーダルウィンドウCSS */

#modal-overlay {
  display: none;
	z-index:1; /* モーダルウィンドウと通常画面の間に表示 */
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.75);
}

#modal-content {
	width: 350px;
	margin: 1.5em auto 0;
	padding: 10px 20px;
	border: 2px solid #aaa;
	background: #fff;
	z-index: 2; /* 最前面に表示 */
  position: fixed; /* 表示位置を固定 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.modal-p {
	margin-top:1em;
}

.modal-p:first-child {
	margin-top:0;
}

.modal-button {
	color:#00f;
	text-decoration:underline;
}
 
.modal-button:hover {
	cursor:pointer;
	color:#f00;
}

.modal-button-area {
  display: flex;
  justify-content: space-between;
}

.modal-message {
  text-align: center;
}


/* formのフローティングラベル用CSS */


.field {
  width: 300px;
  margin: 5px 0;
  box-sizing: border-box;
}

.field__label {
  color: #999;
  font-size: 12px;
  opacity: 0;
  padding: 4px 10px;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  text-align: left;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.field--not-empty .field__label {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.field__input {
  background-color: #f5f5f5;
  border: 2px solid #e9e9e9;
  color: #333;
  font-size: 15px;
  padding: 10px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}

.field--not-empty .field__input {
  padding-bottom: 2px;
  padding-top: 18px;
}