/*
 *= require_tree .
 *= require_self
 */


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.main-bord {
  width: 1100px;
  background-color: royalblue;
  margin: 20px auto 5px;
  border-radius: 0.5rem;
  height: 100%;
}

.content-title {
  color: white;
}

.contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


/* header用CSS */

.header-contents {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  border-radius: 0 0 35px 35px;
  position: relative;
  top: -10px;
  left: 0;
}

.header-contents a{
  text-decoration: none;
  color: black;
}

.header-title{
  font-size: 20px;
}

.header-menu ul {
  display: flex;
  margin: 0;
}

.header-menu li {
  padding: 0 .6rem;
  margin: 0;
}

/* メニュー画面用CSS */

.menu-main{
  background-color: royalblue;
  width: 1100px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;

}

.menu-upper-contents{
  margin: 50px;
  width: 1100px;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

.menu-left-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.table-title{
  color: white;
  width: 600px;
  text-align: left;
}

.new-quotation-list{
  background-color: whitesmoke;
  width: 600px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0.5rem;
}

.new-quotation-list table{
  width: 600px;
  border-collapse:  collapse;
}

.new-quotation-list tr, td{
  border: solid 1px;
  padding: .1em .3em;
  white-space: nowrap;
}

.new-quotation-list td:first-child{
  width: 1px;
  text-align: center;
}

.new-quotation-list .name{
  width: 1px;
}

.new-quotation-list .title{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
}

.new-quotation-list .price{
  width: 1px;
  text-align: right;
}

.menu-right-contents{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.menu-under-contents{
  display: flex;
  justify-content: space-around;
}

.main-content{
  color: #fff;
  background-color: #19b5d1;
  font-size: 30px;
  width: 300px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.sub-content{
  width: 200px;
  margin: 10px 30px;
  color: white;
  background-color: rgb(160, 158, 158);
  font-size: 20px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

/* 以下顧客一覧テーブル */

table.client_table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table.client_table th:first-child{
  border-radius: 5px 0 0 0;
}

table.client_table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table.client_table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  padding: 10px 0;
}

table.client_table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px 0;
}

table.client_table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table.client_table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table.client_table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

table.client_table tr:nth-child(odd){
  background-color: #eee
}

/* 以上顧客一覧テーブル */

/* 以下単価表一覧 */

table.price-table-index {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

table.price-table-index th {
  font-size: 12px;
  padding: 3px;
  background: #e9faf9;
  border: solid 1px #778ca3;
}
  
table.price-table-index td {
  padding: 3px;
  border: solid 1px #778ca3;
}

/* 以上単価表一覧 */



/* 以下単価表フォーム */

.design01 {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.design01 th {
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
}

.design01 td {
  padding: 10px;
  border: solid 1px #778ca3;
}

div.price-scale-form input[type="text"]{
  width: 100px;
}

/* 以上単価表フォーム */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}


/* 以下見積もり書一覧タブ機能実装用CSS */

.tabbox {
  height: 390px;
}

.tabbox table {
  margin: 0 auto;
}

.tabbox .name {
  width: 200px;
}

.tabbox .kana {
  width: 350px;
}

ul.tab-list {
  padding-left: 0px;
}

.tab {
  width: 10%;
  padding: 10px 30px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  background-color: rgb(248, 183, 62);
  font-size: 20px;
}
li.tab {
  display: inline;
}
.tab:first-child {
  border-left: none;
}

.tabbox-contents {
  background-color: white;
  overflow: scroll;
  border-radius: 5px;
}
/* タブがactiveのときのデザイン */
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
/* タブの中身、最初は非表示 */
.tabbox {
  display: none;
  padding: 15px;
}
/* box-showクラスのものだけ表示 */
.box-show {
  display: block;
}
 /* hover時のアクション */
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}


/* 顧客別見積一覧用CSS */

.index-quotations-list {
  background-color: white;
  height: 500px;
  border-radius: 5px;
}

.index-quotations-list table {
  width: 600px;
}

.index-quotations-list .date {
  width: 1px;
}

.index-quotations-list .price {
  width: 150px;
  text-align: right;
}

.btn, .back {
  margin: 5px;
}

/* formCSS */

.quotation-form {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  padding: 10px 0;
}

.quotation-form input:not(.quotation-form-btn),
.quotation-form select {
  width: 300px;
  padding: 5px;
  margin: 5px;
  border: solid 1px #CCC;
  border-radius: 2px;
}

.quotation-form label {
  display: inline-block;
  text-align: right;
  width: 150px;
  color: white;
}

.quotation-form .submit-btn {
  text-align: center;
}

.quotation-form-btn {
  width: 200px;
  border-radius: 5px;
}

.linkbtn {
  display: block;
}