.client-index {

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th {
    background-color: white;
  }

  tr:nth-child(odd) {
    background-color: #eee;
  }

  .name {
    width: 200px;
  }

  .kana {
    width: 220px;
  }

  .phone-number {
    width: 130px;
  }

  .fax-number {
    width: 130px;
  }

  .address {
    width: 380px;
  }

  .tabbox-contents {
    height: calc(100vh - 410px);
  }
}

.new-client-item {
  display: flex;
  margin-bottom: 20px;

  .new-client-label {
    width: 100px;
    color: white;
    text-align: right;
    margin-right: 20px;
  }

  .new-client-field {
    
    input {
      width: 200px;
    }

    textarea {
      width: 200px;
    }

  }
}

.client-edit {

  .edit-client-item {
    color: white;
    margin: 10px auto;
    font-size: 0.9rem;
  }
}

.client-link-area {
  display: flex;
  justify-content: space-between;
  width: 400px;
}