.client-index {

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th {
    background-color: white;
  }

  tr:nth-child(odd) {
    background-color: #eee;
  }

  .name {
    width: 200px;
  }

  .kana {
    width: 220px;
  }

  .phone-number {
    width: 130px;
  }

  .fax-number {
    width: 130px;
  }

  .address {
    width: 380px;
  }

  .tabbox-contents {
    height: calc(100vh - 410px);
  }
}

.new-client-item {
  display: flex;
  margin-bottom: 20px;

  .new-client-label {
    width: 100px;
    color: white;
    text-align: right;
    margin-right: 20px;
  }

  .new-client-field {
    
    input {
      width: 200px;
    }

    textarea {
      width: 200px;
    }

  }
}

.client-edit {

  .edit-client-item {
    color: white;
    margin: 10px auto;
    font-size: 0.9rem;
  }
}

.client-link-area {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.client__field__input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(171, 170, 170);
  border-radius: 2px;
  font-size: 15px;
  background-color: white;
  color: black;
  box-sizing: border-box;
} 

.client__field__input:focus {
  outline: none;
  border: 2px solid rgb(89, 193, 244);
}

.client-form-contents {
  display: flex;
  justify-content: space-around;
  width: 700px;
}

.client-form-area {
  background-color: white;
  width: 700px;
  margin: 10px;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

textarea.client__field__input {
  height: 165px;
}

.client-submit-area {
  width: 300px;
  margin: 0 auto;
}


/* 顧客別見積一覧用CSS */

.index-quotations-list {
  background-color: white;
  height: 500px;
  border-radius: 5px;
  overflow: scroll;
}

.index-quotations-list table {
  width: 600px;
  margin: 0 5px;
  border-collapse: collapse;
}

.index-quotations-list .date {
  width: 1px;
}

.index-quotations-list .price {
  width: 150px;
  text-align: right;
}

.index-quotations-list tr:nth-child(even) {
  background-color: rgb(223, 222, 222);
}