// Place all the styles related to the drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drawing {
  display: flex;
  color: white;
}

.drawing-top-content,
.drawing-bottom-content {
  width: 300px;
  margin: 0 auto;
  label {
    width: 80px;
  }
  #figure_number,
  #product_name {
    width: 200px;
  }
  #material {
    width: 80px;
  }
}

.drawing-mid1-content {
  display: flex;
  justify-content: center;

  label {
    width: 40px;
  }

  input {
    width: 80px;
  }
}

.drawing-mid2-content {
  display: flex;
  justify-content: center;

  label {
    width: 80px;
  }

  input {
    width: 80px;
  }
}

.drawing-left-content {
  display: flex;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
}

.drawing-right-content {
  display: flex;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
}


.drawing label {
  display: inline-block;
  text-align: right;
}

.weight-content,
.area-content,
.size-content {
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
}

.drawings-list {
  width: 1000px;
  background-color: white;
  color: black;
  display: flex;
  margin: 0 auto;
  border: solid 0.5px black;
  .left-area{
    width: 550px;
    border: solid 0.5px  black;
    .top-area {
      width: 550px;
      display: flex;
      .number-area {
        width: 300px;
      }
      .name-area {
        width: 250px;
      }
    }
    .bottom-area {
      width: 550px;
      display: flex;
      .treatment-area {
        width: 200px;
      }
      .material-area {
        width: 150px;
      }
      .size-area {
        width: 200px;
      }
    }
  }
  .quantity-area {
    width: 70px;
    border: solid 0.5px black;
  }
  .price-area {
    width: 160px;
    border: solid 0.5px black;
  }
  .totalprice-area {
    width: 160px;
    border: solid 0.5px black;
  }
  .notes-area {
    width: 160px;
    border: solid 0.5px black;
  }
}