// Place all the styles related to the drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drawing {
  display: flex;
  color: white;
}

.drawing-top-content,
.drawing-bottom-content {
  width: 300px;
  margin: 0 auto;
  label {
    width: 80px;
  }
  #figure_number,
  #product_name {
    width: 200px;
  }
  #material {
    width: 80px;
  }
}

.drawing-mid1-content {
  display: flex;
  justify-content: center;

  label {
    width: 40px;
  }

  input {
    width: 80px;
  }
}

.drawing-mid2-content {
  display: flex;
  justify-content: center;

  label {
    width: 80px;
  }

  input {
    width: 80px;
  }
}

.drawing-left-content {
  display: flex;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
}

.drawing-right-content {
  display: flex;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
}


.drawing label {
  display: inline-block;
  text-align: right;
}

.weight-content,
.area-content,
.size-content {
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
}

.drawing-list {
  width: 1000px;
  background-color: white;
  display: flex;
  .left-area{
    background-color: chartreuse;
    width: 600px;
    border: solid 1px  black;
    display: flex;
    .top-area {
      background-color: aqua;
      width: 600px;
      display: flex;
      .number-area {
        background-color: yellow;
        width: 350px;
      }
      .name-area {
        background-color: tomato;
        width: 250px;
      }
    }
    .bottom-area {
      background-color: blue;
      width: 600px;
      display: flex;
      .treatment-area {
        background-color: blueviolet;
        width: 300px;
      }
      .material-area {
        background-color: teal;
        width: 150px;
      }
      .size-area {
        background-color: burlywood;
        width: 150px;
      }
    }
    .price-area {
      background-color: brown;
      width: 225px;
    }
    .quantity-area {
      background-color: aquamarine;
      width: 100px;
    }
    .totalprice-area {
      background-color: darkgreen;
      width: 225px;
    }
  }
}