// Place all the styles related to the drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drawing {
  display: flex;
  color: gray;
}

.drawing-mid1-content {
  display: flex;
  justify-content: center;

  label {
    width: 40px;
  }

  input {
    width: 80px;
  }
}

.drawing-mid2-content {
  display: flex;
  justify-content: center;

  label {
    width: 80px;
  }

  input {
    width: 80px;
  }
}

.drawing-left-content {
  display: flex;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: rgb(195, 240, 245);
  margin: 2px;
}

.drawing-right-content {
  display: flex;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: rgb(195, 240, 245);
  margin: 2px;
}

.weight-content,
.area-content,
.size-content {
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(201, 242, 215);
  margin: 2px;
  text-align: right;
}

.image-content {
  margin-right: 10px;
}

.size-form {
  text-align: right;
}

.drawing-link-content {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 300px;
}

.drawings-list {
  width: 1000px;
  background-color: white;
  color: black;
  display: flex;
  margin: 0 auto;
  border: solid 0.5px black;
  .left-area{
    width: 550px;
    border: solid 0.5px  black;
    .top-area {
      width: 550px;
      display: flex;
      .number-area {
        width: 300px;
      }
      .name-area {
        width: 250px;
      }
    }
    .bottom-area {
      width: 550px;
      display: flex;
      .treatment-area {
        width: 200px;
      }
      .material-area {
        width: 150px;
      }
      .size-area {
        width: 200px;
      }
    }
  }
  .quantity-area,
  .price-area,
  .totalprice-area {
    display: flex;
    align-items: center;
    justify-content: right;
    border: solid 0.5px black;
  }
  .quantity-area {
    width: 70px;
  }
  .price-area {
    width: 160px;
  }
  .totalprice-area {
    width: 160px;
  }
  .notes-area {
    width: 160px;
    border: solid 0.5px black;
  }
  .btn-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.link-btn {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.center {
  margin: 0 auto;
}

.drawings-table-space {
  width: 1080px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: scroll;

  .drawings-table-title,
  .drawings-table-contents {
    width: 1060px;
    font-size: 0.7rem;
    margin: 0 auto;
    overflow: hidden;
  }

  .drawings-table-title {
    border-top: solid 1px black;
    border-left: solid 1px black;
    margin-top: 2px;
    text-align: center;
    background-color: rgb(250, 229, 221);
  }

  .drawings-table-contents {
    border-left: solid 1px black;
    margin-bottom: 2px;
    height: calc( 100vh - 300px );
    overflow: scroll;
  }

  .table-row {
    display: flex;
  }

  .table-row div {
    overflow: hidden;
    white-space: nowrap;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    height: 16px;
    padding: 2px;
  }

  .drawings-table-id {
    width: 60px;
    text-align: center;
  }
  .drawings-table-quotation {
    width: 60px;
    text-align: center;
  }
  .drawings-table-drawing {
    width: 130px;
  }
  .drawings-table-name {
    width: 130px;
  }
  .drawings-table-material {
    width: 50px;
  }
  .drawings-table-size {
    width: 110px;
  }
  .drawings-table-weight {
    width: 60px;
    text-align: right;
  }
  .drawings-table-area {
    width: 60px;
    text-align: right;
  }
  .drawings-table-surface {
    width: 120px;
  }
  .drawings-table-quantity {
    width: 30px;
  }
  .drawings-table-price {
    width: 50px;
  }
  .drawings-table-notes {
    width: 110px;
  }
  .drawings-table-btn {
    width: 80px;
  }
  .unit {
    font-size: 0.5rem;
  }

  .drawings-table-contents {
    .drawings-table-quantity,
    .drawings-table-price {
      text-align: right;
    }
    

  }
}

.drawing-form-area {
  width: 700px;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.drawing-field__input {
  width: 100%;
  padding: 7px;
  border: 1px solid rgb(171, 170, 170);
  border-radius: 2px;
  font-size: 15px;
  background-color: white;
  color: black;
  box-sizing: border-box;
} 

.drawing-field__input:focus {
  outline: none;
  border: 2px solid rgb(89, 193, 244);
}

.drawing-form-item {
  display: flex;
  justify-content: space-around;
  width: 700px;
  height: 55px;
}