// Place all the styles related to the quotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 顧客別見積一覧テーブル用

.quontations-index {

  .tabbox {
    height: 390px;
  }

  .tabbox table {
    margin: 0 auto;
  }

  .tabbox .name {
    width: 200px;
  }

  .tabbox .kana {
    width: 350px;
  }

  .tabbox-contents {
    height: calc( 100vh - 350px );
  }
}

// 見積金額表示部


.total-price-area {
  width: 1100px;
  margin: 0 auto;
  .notax-area,
  .tax-area,
  .taxin-area {
    width: 260px;
    margin: 0px 130px 0px 657px;
    background-color: white;
    display: flex;
  }
  .title-area {
    width: 130px;
    border: solid 0.5px black;
    text-align: right;
    font-weight: bold;
  }
  .price-output-area {
    width: 130px;
    border: solid 0.5px black;
    text-align: right;
  }
}

.quotation-form {
  textarea {
    width: 300px;
  }
}

.quotation-link-area {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}



.new-quotation-item {
  display: flex;
  margin-bottom: 5px;

  .new-quotation-label {
    width: 200px;
    color: white;
    text-align: right;
    margin-right: 10px;
    padding: 7px 0;
  }

  .new-quotation-field {
    
    input {
      width: 200px;
    }

    textarea {
      width: 200px;
    }

  }
}

.quotation-form-area {
  background-color: white;
  width: 650px;
  margin: 10px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

#quotation_input {
  width: 650px;
}

.quotation-field__input {
  width: 100%;
  padding: 7px;
  border: 1px solid rgb(171, 170, 170);
  border-radius: 2px;
  font-size: 15px;
  background-color: white;
  color: black;
  box-sizing: border-box;
} 

.quotation-field__input:focus {
  outline: none;
  border: 2px solid rgb(89, 193, 244);
}

.field__label {
  position: absolute;
  top: 0;
  font-size: 15px;
  color: rgb(171, 170, 170);
  border-radius: 10px;
  margin: 7px;
  padding: 0 10px;
  background-color: white;
  -webkit-transition: top .2s ease-in-out, 
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out, 
              font-size .2s ease-in-out;
}

.quotation-form-item {
  display: flex;
  justify-content: space-around;
  height: 55px;
}

.quotation-form-item-textarea {
  display: flex;
  justify-content: space-around;
  height: 80px;
}


.quotation-submit-area {
  width: 300px;
  margin: 10px auto 0;
}

.field-textarea {
  position: relative;
  margin: 20px 0;
  width: 630px;
  color: rgb(171, 170, 170);
}