// Place all the styles related to the quotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 顧客別見積一覧テーブル用

.quontations-index {

  .tabbox {
    height: 390px;
  }

  .tabbox table {
    margin: 0 auto;
  }

  .tabbox .name {
    width: 200px;
  }

  .tabbox .kana {
    width: 350px;
  }

  .tabbox-contents {
    height: calc( 100vh - 350px );
  }
}

// 見積金額表示部


.total-price-area {
  width: 1100px;
  margin: 0 auto;
  .notax-area,
  .tax-area,
  .taxin-area {
    width: 260px;
    margin: 0px 130px 0px 657px;
    background-color: white;
    display: flex;
  }
  .title-area {
    width: 130px;
    border: solid 0.5px black;
    text-align: right;
    font-weight: bold;
  }
  .price-output-area {
    width: 130px;
    border: solid 0.5px black;
    text-align: right;
  }
}

.quotation-form {
  textarea {
    width: 300px;
  }
}

.quotation-link-area {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}



.new-quotation-item {
  display: flex;
  margin-bottom: 5px;

  .new-quotation-label {
    width: 200px;
    color: white;
    text-align: right;
    margin-right: 10px;
    padding: 7px 0;
  }

  .new-quotation-field {
    
    input {
      width: 200px;
    }

    textarea {
      width: 200px;
    }

  }
}