<div class="main-bord">

  <div class="contents new-price">

    <h1 class="content-title">単価表編集</h1>

    <%# 新規作成か編集か判定用の変数 %>
    <% jud = "edit" %>

    <%= render partial: "form", locals: { price_scale: @price_scale, jud: jud } %>


  </div>

</div>


<%# モーダルウィンドウにてjavascriptから指定して削除する %>
  <%= link_to '', price_scale_path(@price_scale.id), method: :delete, id: "item-delete" %>

<%# 削除選択時モーダルウィンドウを表示する(デフォルトは非表示) %>
  <div id="modal-overlay">

    <div id="modal-content">
      <div class="modal-message">
        <p>削除してよろしいですか？</p>
        <p>単価表タイトル：<%= @price_scale.title %></p>
      </div>
      <div class="modal-button-area">
        <p><a id="modal-close" class="btn btn--cancel">キャンセル</a></p>
        <p><a id="modal-delete" class="btn btn--delete">削除</a></p>
      </div>
    </div>

  </div>